html, body {
  height: 100%;
  margin: 0;
}

body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right,#7f53ac 0,#657ced 100%);
  font-weight: bold;
  color: black
}

#root {
  height: 100%;
}